page-home {
    ion-content {
        background: url('https://mxg.cdnbf.net/mexchangeblackjack/turbo/assets/gameView/tableBackground.png?v1.26-245') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .logo-menor {
        width: 100px;
        height: 100px;
    }

    .card {
        height: 90px;
        margin-right: 5px;
    }

    .transparente {
        opacity: 0.3;
    }

    .btn-card, .btn-card .card {
        height: 80px;
    }

    .titulo-player {
        color: #fff;
    }
    
    .baralho {
        width: 71px;
        height: 100px;
        margin: 0 auto;
        position: relative;
        text-align: center;

        .card {
            height: 100px;
        }

        span {
            position: absolute;
            color: #fff;
            font-size: 22px;
            top: 30px;
            left: 8px;
            background: darkred;
            border-radius: 100%;
            padding: 7px;
            width: 55px;
            height: 40px;
            font-weight: bold;
            text-align: center;
        }
    }

    .placar_final {
        ion-badge {
            font-size: 36px;
        }

        .trofeu {
            height: 48px;
        }
    }
}
